.footer {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.footer .info {
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: space-between;
}

.footer .info .linkDevQuest {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .footer .info {
        gap: 20px;
        justify-content: center;
    }
}